<html>
    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/main.css") }}>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
        <script type="text/javascript" src={{ url_for("static", filename="js/main.js") }}></script>
    </head>
    <body>
        <div class = "title"> <b> Rogue Online  </b></div>

        <div class="flexbox">
            <div class="thekeypad">
                <div class="key"></div>
                <div class="key"><input id="go_n" class="keypad_btn" type="button" value="&#9650"> </div>
                <div class="key"></div>
                <div class="key"><input id="go_w" class="keypad_btn" type="button" value="&#9664"></div>
                <div class="key"></div>
                <div class="key"><input id="go_e" class="keypad_btn" type="button" value="&#9654"></div>
                <div class="key"></div>
                <div class="key"><input id="go_s" class="keypad_btn" type="button" value="&#9660"></div>
                <div class="key"></div>
            </div>

            <div id="console" style="font-family: monospace;">
                {% for i in range(n_row) %}
                <div class = "line" >
                    {% for j in range(n_col) %}
                        {% if mapdata[i][j] == "#" %}
                            <div class="wall" id="{{ 'cell {}-{}'.format(i,j) }}" > 
                            {{ "  " }} 
                            </div>
                        {% endif %}
                        {% if mapdata[i][j] == "." %}
                            <div class="road" id="{{ 'cell {}-{}'.format(i,j) }}"> 
                            {{"  "}} 
                            </div>
                        {% endif %}
                        {% if mapdata[i][j] == "@" %}
                            <div class="caracter" id="{{ 'cell {}-{}'.format(i,j) }}"> 
                            {{"  "}} 
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>

    </body>
</html>