<html>
    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/new_game.css") }}>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
        <script type="text/javascript" src={{ url_for("static", filename="js/new_game.js") }}></script>
    </head>
    <body>
        <p id="column">
            <label for="nom_partie">Nom de la partie:</label>

            <input id = "nom_partie" name = "Nom Partie" >
            <label for="Choix difficulté">Choix difficulté(entier entre 0 et 10):</label>
            <input id = "choix_difficulté" name = "Choix difficulté">

            <button id = "start"> Start Game</button>
        </p>
    </body>
</html>