<html>
    <head>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
        <script src = {{ url_for("static", filename="js/require.js") }} ></script>
        <script type="text/javascript" src ={{ url_for("static", filename="js/proposition.js") }}  ></script>


    </head>
    <body>
        <button id = new> New</button>

        {% for partie in parties.keys() %}
        <button id ="{{ '{}'.format(partie) }}"> {{partie}}</button>
        {% endfor %}
    </body>
</html>